/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* padding and border will not affect the layout */
  
}

/* General Layout */
body {

    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    height: 100vh;  /* Ensures full height of viewport */
    padding-left: 150px; /* away from sidebar */
    padding-top: 40px;  /* away from header */


}

/* Header (Top Navigation) */
header {
    background-color: #812437;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;        
    height: 40px;
    color: white;
    z-index: 1000;  /*header stays on top of the page*/
}

/* Navigation Links */
.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Sidebar */
.sidebar {
    width: 150px;
    background-color: #333333;
    color: white;
    height: 100%;
    position: fixed;
    left: 0;
    top: 40px; /* Below header */
    padding-top: 20px;
    text-align: center;
}

/* Sidebar Navigation */
.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    display: block;
    padding: 10px;
}

.sidebar ul li a:hover {
    background: #1b1b1b;
}

/* Main Content */
main {
    flex: 1;  /* expand and push footer down */
    padding: 20px;
    margin: 0 auto;
}

.instructor-info {
    width: 100%;
    margin-top: 20px;
}

.instructor-info th, .instructor-info td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.instructor-info th {
    background-color: #f2f2f2;
}



/* Footer (Stays at the bottom) */
footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
}